SERVICE_NAME=search-service
ENVIRONMENT=development
PORT=8000
LOG_LEVEL=INFO

OPENSEARCH_URL=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=ToolshareLocal123!
OPENSEARCH_INDEX_EQUIPMENT_LISTINGS=equipment-listings
OPENSEARCH_VERIFY_CERTS=false